
body {
	background-color: #eeeeee;
}

.main-content {
	


}

.myName1 {
	background-color: #4aaaa5;
	margin:0 150px 0 20px;
}

.myName2 {
	color: white;
	padding: 15px;
}

.aboutMe1 {
	background-color: white;
	height: 100px;
	width: 100px;

}

.aboutMe2 {


}

.aboutMe3 {


}
